.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  height: 40px;
  width: 40px;
  color: green;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  border: 0;
  background-color: rgb(107, 210, 139);
  margin: 0 10px 0 10px;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(61, 114, 78);
  color: white;
  transition: background-color 0.3s ease-in;
}

.long-button {
  width: 80px;
  background-color: yellow;
}

.long-button:hover {
  background-color: rgb(255, 191, 0)
}